
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 21px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 720px;
  background-color: #d18c1e;
}
.container {
   background-color: rgb(255, 193, 7);
   max-width: 100%;
   width: 50%;
   margin: 32px;
   padding: 46px;
   background-color: #ffffff;
   border-radius: 10px;
   line-height:25px;
}
.user-input {
  background-color: #f6c488;
  border: 0.3px solid rgb(255, 193, 7);
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0;
}
.yet-to-be-filled {
  background-color: #f6c488;
  padding: 3px 0;
  width: 50px;
}